extend layout

block content
    include components/navbar
    <header class="rounded bg-white shadow p-4 mx-4 my-2" >
        <h1 class="text-2xl font-bold" >#{course.name}</h1>
        <p class="text-xl font-semibold">Chat</p>
    </header>
    <section id="chat" class="mx-4 mb-20"></section>
    <section class="fixed bottom-3 w-full flex" >
        <input class="rounded border border-gray-900 p-1 flex-1 mx-4" type="text" name="message" id="message">
        <button id="send-btn" class=" flex-none mr-2" ><span class="material-icons text-lg mr-2 text-blue-700" >send</span></button>
    </section>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
    <script src="/chat.js"></script>