extend ../layout

block content
    include ../components/navbar
    <div class="flex justify-center items-center" >
        <form class="w-80 rounded-md shadow-md py-4 px-6 bg-white mt-12" action="/course/join" method="post">
            <h1 class="font-bold text-3xl mb-2" >Join course</h1>
            <div class="mb-2" >
                <label class="block" for="course_code">Enter the course code</label>
                <input class="rounded border border-gray-900 p-1 w-full" type="text" name="course_code" required>
                if error
                    <p class="text-base text-red-500" >#{error}</p>
            </div>
            <div class="flex justify-end items-center" >
                <a class="text-blue-500 mr-5" href="/course/home">Cancel</a>
                <input class="px-4 py-2 bg-gray-900 rounded text-white cursor-pointer" type="submit" value="Join">
            </div>
        </form>
    </div>